body {
    font-family: 'Protest Strike', sans-serif;
    background-color: rgb(20, 9, 90);
    background-image:linear-gradient(315deg, rgb(61, 10, 3) 0%, #0f0063 74%); ;

}

.container {
    margin: auto;
    /* Zentrieren des Inhalts vertikal */
}


h1 {
    text-align: center;
    color: white;
}

.progress-bar {
    flex: 1;
    /* Die Fortschrittsleiste nimmt den verfügbaren Platz ein */
    height: 15px;
    /* Höhe der Fortschrittsleiste */
    background-color: rgb(43, 25, 165);
    /* Hintergrundfarbe der Fortschrittsleiste */
    border-radius: 10px;
    /* Abrundung der Ecken */
}

/* Beispiel-Stile für den Fortschrittsbalken */
.progress-bar-fill {
    height: 100%;
    background-color: #530404;
    background-image: linear-gradient(315deg, rgb(61, 10, 3) 0%, #0d324d 74%);
    /* Farbe des gefüllten Fortschrittsbalkens */
    border-radius: 10px;
    /* Abrundung der Ecken */
    font-size: 12px
}

.item {
    margin-right: 20px;
    /* Abstand zwischen den Elementen */
}

.grid-fortschritt {
    display: grid;
    grid-template-columns: 300px auto;
    color: bisque;
    width: 800px;
    margin: auto;
    align-items: center;

}


.grid-fortschritt-item1 {
    padding: 10px;
    font-size: 30px;
    text-align: right;
}

h2 {
    margin: auto;
    text-align: center;
    color: bisque;
}

.grid-fortschritt-item {
    padding: 0px;
    font-size: 20px;
}

.grid-games {
    display: grid;
    grid-template-columns: 600px 600px 600px;
    color: bisque;
    width: 800px;
    margin: auto;
    align-items: center;
}

.grid-games-item1 {
    padding: 10px;
    font-size: 30px;
    text-align: right;
}



.progress {
    height: 10px;
}



.grid-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* Blöcke unten ausrichten */
    margin-top: 150px;
    position: relative;
    /* Container für die absolute Positionierung der Bilder */
}

.color-step {
    width: 100px;
    margin: 0 5px;
    /* Abstand zwischen den Blöcken */
    background: linear-gradient(to top, rgb(20, 9, 90), #827e92);
    /* Farbverlauf von Rot zu Blau */
    border: 1px solid black;
    /* Rand für Sichtbarkeit */
    text-align: center;
    color: white;
    bottom: 30px;
    padding: 10px;
    position: relative;
    /* Positionierung für die Bilder innerhalb der Blöcke */
    z-index: 1;
    /* Stelle sicher, dass Blöcke über Bildern liegen */
    /* opacity: 0.7; 70% Transparenz */
}

.color-step img {
    position: absolute;
    top: -60px;
    /* Positionierung über dem Block */
    width: 100%;
    height: auto;

    left: 50%;
    /* Horizontale Zentrierung des Bildes */
    transform: translate(-50%, -50%);

    display: block;
    margin-bottom: 5px;
    opacity: 1;
}
.color-step a {
    position: absolute;
    bottom: -45px;
    /* Positionierung über dem Block */
    width: 20%;
    height: auto;
    left: 50%;
    /* Horizontale Zentrierung des Bildes */
    transform: translate(-50%, -50%);

}

.color-step img.additional {
    top: auto;
    /* Zurücksetzen der Position auf die Standardeinstellung */
    bottom: 30px;
    /* Positionierung unter dem Block */
    width: 60%;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}


.radio_container {
    position: absolute;
    display: none;
    justify-content: center; /* horizontal mittig ausrichten */
    margin-left: auto; /* linker Seitenabstand automatisch berechnen */
    margin-right: auto; 
}

.tabs {
    display: flex;
    position: absolute;
    margin: auto;
    background-color:  rgb(20, 9, 90);
    box-shadow: rgb(0, 0, 0, 0.2)0px 60px 40px -7px;
    padding: 0.75rem;
    border-radius: 99px;
}

.tabs * {
    z-index: 2;

}

input[type="radio"] {
    display: None;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 200px;
    font-size: 1.25rem;
    font-weight: 400;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in
}


input[type="radio"]:checked+label {
    color: white;
}

input[id^="radio-"]:checked~.slide-container .slide {
    opacity: 0;
}

input[id="radio-1"]:checked~.slide-container .slide:nth-child(1),
input[id="radio-2"]:checked~.slide-container .slide:nth-child(2),
input[id="radio-3"]:checked~.slide-container .slide:nth-child(3),
input[id="radio-4"]:checked~.slide-container .slide:nth-child(4) {
    opacity: 1;
}



input[id="radio-1"]:checked~.glider {
    transform: translateX(0);
}

input[id="radio-2"]:checked~.glider {
    transform: translateX(100%);
}

input[id="radio-3"]:checked~.glider {
    transform: translateX(200%);
}

input[id="radio-4"]:checked~.glider {
    transform: translateX(300%);
}

input[id="radio-5"]:checked~.glider {
    transform: translateX(400%);
}

input[id="radio-6"]:checked~.glider {
    transform: translateX(500%);
}

input[id="radio-7"]:checked~.glider {
    transform: translateX(600%);
}
input[id="radio-8"]:checked~.glider {
    transform: translateX(700%);
}

input[id="radio-9"]:checked~.glider {
    transform: translateX(800%);
}

input[id="radio-10"]:checked~.glider {
    transform: translateX(900%);
}


.glider {
    position: absolute;
    display: flex;
    height: 20px;
    width: 200px;
    border-radius: 99px;
    background-color: rgb(68, 70, 209);
    background-image: linear-gradient(315deg, rgb(61, 10, 3) 0%, #0d324d 74%);
    color: rgb(94, 31, 31);
    z-index: 1;
    transition: 0.50s ease-out;
}


.slide-container {
    display: flex;
    overflow: hidden;
    width: 400%;
    height: 300px;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 25%;
    box-sizing: border-box;
    opacity: 0;
}

.slide:nth-child(1) {
    background-color: red;
}

.slide:nth-child(2) {
    background-color: rgb(152, 152, 165);
}

.slide:nth-child(3) {
    background-color: green;
}

.slide:nth-child(4) {
    background-color: yellow;
}



@media (max-width: 700px) {
    .tabs {
        transform: scale(0.6);
    }
}



* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: center;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
    position: center;
    margin: auto;
}



.stat-container {
    margin: auto;
    position: center;
    display: grid;
    grid-template-columns: 330px 500px 500px;
    gap: 10px;
    height: 600px;
    width: 100%;
    opacity: 1;
}


.first-column {
    padding: 10px;
    /* border: 1px solid #ccc; */
    opacity: 1;
}

.second-column {
    display: grid;
    grid-template-rows: 200px 90px 300px;
    gap: 5px;
}

.second-column .cell:nth-child(1) {
    display: grid;
    grid-template-columns: 200px 200px;
    gap: 5px;
    color: white;
}
.first-cell-column {
    margin: auto;
    /* border: 1px solid white; */
}

.second-cell-column {
    margin: auto;
    text-align: center; 
    
    /* border: 1px solid white; */
    font-size: 30px;
}
.third-cell-colum {
    margin: auto;
    text-align: center; 
    
    /* border: 1px solid white; */
    font-size: 30px;
}

.second-column .cell:nth-child(2) {
    display: grid;
    grid-template-columns: 100px 120px auto;
    gap: 5px;
    color: white;
}

.second-column .cell:nth-child(3) {
    /* border: 1px solid white; */
    padding: 1px;
    
}

.thrid-column {
    padding: 10px;
    /* border: 1px solid #ccc; */
}


.canvas-cyrcle {
    display: block;
    margin: 20px auto; /* Zentrieren des Canvas */
    background-color: #f0f0f0;
    border-radius: 50%;
}


/* table, th, td {
    width: 300px;
    border:1px solid rgb(31, 29, 29);
    color: white;
} */
/* .tr  {
    border:5px solid rgb(31, 29, 29);
    color: white;

} */


.stat-table, .stat-table-th, .stat-table-td{
    width: 300px;
    border:1px solid rgb(31, 29, 29);
    color: white;
}


.record-table{
    margin: auto;
    margin-top: 20px;
    
    /* background:linear-gradient(to top, rgb(20, 9, 90), #827e92);     */
    padding: 2px;    
    border:1px solid rgb(31, 29, 29);
    color: white;
    text-align: center;
}

.record-table-th, .record-table-td{
    margin: auto;
    position: center;
    
    padding: 2px;    
    border:1px solid rgb(31, 29, 29);
    color: white;
    text-align: center;
}


h3 {
    color: white;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}




.record-container {
    display: grid;
    justify-content: center; /* horizontal mittig ausrichten */
    margin-left: auto; /* linker Seitenabstand automatisch berechnen */
    margin-right: auto; 
    grid-template-columns: 400px 400px 400px 400px ;
    height: 800px;
    width: 100%;
    /* background-image: url('static/Viktor.jpg'); */
    background-size: cover;
    opacity: 1; 
    gap: 10px;
}

.first-record-column {
    text-align: center;
    
    margin-top: 450px; 
    background-image: linear-gradient(to top, rgb(61, 10, 3, 1) 30%, rgb(59, 52, 52) 74%); 
    opacity: 1;   
    z-index: 10; 
    font-size: 15px;
}

.second-record-column {
    text-align: center; 
    margin-top: 450px;
    background-image: linear-gradient(to top, rgb(61, 10, 3, 1) 30%, rgba(13, 50, 77, 1) 74%); 
    opacity: 1;   
    z-index: 10; 
    font-size: 15px;

}

.thrid-record-column {
    text-align: center; 
    margin-top: 450px;
    background-image: linear-gradient(to top, rgb(61, 10, 3, 1) 30%, rgb(13, 20, 0) 74%); 
    opacity: 1;   
    z-index: 10; 
    font-size: 15px;
}

.forth-record-column {
    text-align: center; 
    margin-top: 450px;
    background-image: linear-gradient(to top, rgb(61, 10, 3, 1) 30%, rgb(34, 2, 41) 74%); 
    opacity: 1;   
    z-index: 10; 
    font-size: 15px;

}

.recimg {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1elen;
    opacity: 0.7;
   

}

.img-button {
    border: none; /* Rahmen entfernen */
    outline: none; /* Umrandung entfernen */
    cursor: pointer; /* Mauszeiger ändern */
  }

/* .record-row {
    margin: auto;
    text-align: center; 
    
    /* background-size: cover;     
    border: 1px solid white; 
    font-size: 30px;

} */



.popup-err {
    display: none;
    position: fixed;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-image: linear-gradient(to right, rgb(61, 10, 3, 1) 30%, rgb(34, 2, 41) 74%); 
    opacity: 1;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.3);
    z-index: 9998;
    border-radius: 10px;
  }







.popup {
    display: none;
    position: fixed;
    width: 850px;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(158, 171, 233);
    background-image: linear-gradient(to left, rgb(119, 19, 6) 30%, rgb(16, 13, 190) 74%); 
    opacity: 1;
    padding: 10px;
    border: 1px solid #000000;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.3);
    z-index: 9998;
    border-radius: 8px;
}

  
.closebutton {
    position: absolute;
    opacity: 0.9;
    font-size: 30px;
    margin-top: -35px;
    margin-right: 50px;
    background-color: transparent;
    color: white;
    border: none; /* Rahmen entfernen */
    outline: none; /* Umrandung entfernen */
  }



.data-btn {
    border: none; /* Rahmen entfernen */
    outline: none; /* Umrandung entfernen */
    cursor: pointer; /* Mauszeiger ändern */
    background-color: transparent;
}



.row {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    }



.detail-table-left {
    border: solid 1px #ccc;
    margin-top: 0%;
    border: solid 1px #ccc;

}

.detail-table-left tr {
    border: solid 1px #ccc;
    border-radius: 3px;
    padding: 50px;
}



.detail-table-right {
    margin-top: 0%;
    border: solid 1px #ccc;
}

.container-left {
    float: left;
    width: 47%;
    height: 100%;
    
    border-radius: 5px;
    margin-left: 1%;
    color: white;
    

}

.content-left {
    
    width: 100%;
    height: 86px;
    margin-top: 10px;
    border-radius: 5px;
    margin-left: 0%;
    color: white;
    border: 1px solid #100a0a;
    border-radius: 5px;
    background-color: rgba(10, 4, 97, 0.7);
    display: grid;
    grid-template-columns: 20% 40% 40%;
    
}

.content-left-first {
    display: flex;
    padding: 3px;
    width: 100%;
    height: 100%;
    
}

.content-left-second {
    float: left;
    display: grid;
    grid-template-rows: 25% 50% 25%;   
    
    margin: auto;
    width: 100%;
    height: 100%;
    

}
.lef-second-row-one{
    display: flex;
    width: 100%;
    height: 100%;
    
}

.left-second-row-two{
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 23px;
    
}

.left-second-row-three{
    float: left;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    
}




.content-left-third {
    display: grid;
    align-items: center;
    padding: 4px;
    width: 100%;
    height: 100%;
    
    grid-template-rows: 25% 25% 25% 25%;
}

.third-row {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #000000;
    border-radius: 3px;
    font-size: 10px;
}







.container-right {
    float: right;
    width: 47%;
    height: 100%;
    
    border-radius: 5px;
    margin-left: 1%;
    color: white;
    
}

.content-right {
    
    width: 100%;
    height: 86px;
    
    margin-top: 10px;
    border-radius: 5px;
    margin-left: 0%;
    color: white;
    border: 1px solid #100a0a;
    border-radius: 5px;
    background-color: rgb(90, 2, 2,0.7);
    display: grid;
    grid-template-columns: 40% 40% 20%;
   
}

.content-right-first {
    display: flex;
    padding: 3px;
    width: 100%;
    height: 100%;

}

.content-right-second {
    float: right;
    display: grid;
    grid-template-rows: 25% 50% 25%;   
    margin: auto;
    width: 100%;
    height: 100%;
    

}
.right-second-row-one{
    display: flex;
    width: 100%;
    height: 100%;
    
}
.right-second-row-two{
    display: flex;
    text-align: right;
    
    width: 100%;
    height: 100%;
    font-size: 23px;
    
}
.right-second-row-three{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    
}
.content-right-third {
    display: grid;
    align-items: center;
    padding: 4px;
    
    width: 100%;
    height: 100%;
    grid-template-rows: 25% 25% 25% 25%;
}










